@extension_name
Jut.su Extension

@extension_description
Jut.su Extension adds new features on top of your favorite Jut.su

#==== Course content ====

@dark_theme
Dark Theme

@dark_theme_on
On

@dark_theme_off
Off

@upcoming_features
Let us know what features you would like to see next, via <strong>tulpar.dev@gmail.com</strong>
