@extension_name
Jut.su Extension

@extension_description
Jut.su Extension adds new features on top of your favorite Jut.su

@skip_recap
Skip recap automatically

@next_episode
Open next episode automatically

@auto_play
Automatically play video

@request_features
Let us know what features you would like to see next, via <strong>tulpar.dev[at]gmail.com</strong>
