@extension_name
Jut.su Extension

@extension_description
Jut.su Extension добавляет новые функции поверх вашего любимого Jut.su

#==== Course content ====

@dark_theme
Темная тема

@dark_theme_on
Вкл

@dark_theme_off
Выкл

@upcoming_features
Сообщите нам, какие функции вы хотели бы увидеть через <strong>tulpar.dev@gmail.com </strong>
