@extension_name
Jut.su Extension

@extension_description
Jut.su Extension добавляет новые функции поверх вашего любимого Jut.su

@skip_recap
Пропускать заставку автоматически

@next_episode
Открыть следующую серию автоматически

@auto_play
Автоматически воспроизводить видео

@enable_fullscreen
Включить полноэкранный режим автоматически (для лучшего опыта нажмите F11 на Windows или Control+Command+F на Mac и перейдите в полноэкранный режим один раз, он будет автоматически включаться в следующих эпизодах)

@video_speed
Скорость видео

@reset_config
Сбросить конфигурацию


@request_features
Сообщите нам, какие функции вы хотели бы увидеть через <strong>tulpar.dev[at]gmail.com </strong>
