@extension_name
Jut.su Extension

@extension_description
Jut.su Extension добавляет новые функции поверх вашего любимого Jut.su

@skip_recap
Пропускать заставку автоматически

@next_episode
Открыть следующую серию автоматически

#==== Course content ====

@request_features
Сообщите нам, какие функции вы хотели бы увидеть через <strong>tulpar.dev[at]gmail.com </strong>
